<form class="form-footer">
        <h3>Newsletter</h3>
{{ form_start(form) }}
    <div class="first-name-footer">
        {{ form_errors(form.firstName) }}
        {{ form_label(form.firstName) }}
        {{ form_widget(form.firstName) }}
    </div>
    <div class="last-name-footer">
        {{ form_errors(form.lastName) }}
        {{ form_label(form.lastName) }}
        {{ form_widget(form.lastName) }}
    </div>
    <div class="mail-footer">
        {{ form_errors(form.email) }}
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <button class="button-footer">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</form>

