<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Nantes en live{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="Images/mic.svg">
    {% block stylesheets %} <link rel="stylesheet" href="{{ asset('/main.css') }}" type="text/css"/>{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto" rel="stylesheet">

</head>

<nav>
        <a class="banner" href="{{ path('home') }}"><img src="{{ asset('/images/banner.png') }}"></a>
        <ul>
            <li>{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('logout_route') }}">Se déconnecter</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
            </li>

            <li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('user_index') }}">Nom d'utilisateur</a>
            {% else %}
                <a href="{{ path('user_new') }}">S'inscrire</a>
            {% endif %}
            </li>

            <li><a href="{{ path('article_index') }}">Actu</a></li>
        </ul>
        <div class="searchBar">{{ render(controller('App\\Controller\\SearchController::searchBar')) }}</div>
    </nav>

<main>
    {% block body %}

    <div class="body-form"><div class="form">
            {% block page %}
            {% endblock %}
    </div></div>
    {% endblock %}

</main>

{% block footer %}
<footer>
    {{ render(controller('App\\Controller\\NewsletterController::new')) }}
    <div class="contact-footer">

    </div>
</footer>
{% endblock %}

</html>
