{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}


    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <p>Bonjour {{ app.user.email }}</p>

        <p><a href="{{ path('logout_route') }}">Se déconnecter...</a></p>
    {% else %}
        <p><a href="{{ path('app_login') }}">Se connecter</a></p>
    {% endif %}


    <div class="body-article">
    <div class="index-article">



        <h2>Article index</h2>



        {% for article in articles %}
            <ul><h3>{{ article.title }}</h3>
                <li>{{ article.content }}</li>
                -<li>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</li>
                <li>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</li>

                <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('article_edit', {'slug': article.slug}) }}">edit</a>
                {% endif %}

                <li>
                    <a href="{{ path('article_show', {'id': article.id}) | trans}}">show</a>
                    <a href="{{ path('article_edit', {'id': article.id}) | trans}}">edit</a>
                </li>
            </ul>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}


    <a class="button" href="{{ path('article_new') }}">Create new</a>

    </div>
    </div>
{% endblock %}
