{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<div class="body-form">
    <div class="form">
    <h2>{{ article.title }}</h2>

    <p>{{ article.content }}</p>

    <p>Created_At : {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</p>

    <p>Updated_At : {{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</p>

    <a class="button" href="{{ path('article_index') }}">back to list</a>

    <a class="button" href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}

        <div>
            <div>
{% endblock %}
